body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}


/* Heading Styles */
h1 {
  color: #008080;
}

/* Paragraph Styles */
p {
  font-size: 18px;
  line-height: 1.6;
}

/* Link Styles */
a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
